In [2]:
#build in function
abs(5.5)

5.5

In [3]:
round(5.5)

6

In [4]:
round(5.49,1)

5.5

In [6]:
#enum are readable name that are bound to constant value
from enum import Enum
class State(Enum):
    INACTIVE=0
    ACTIVE=1
print(State.ACTIVE)

State.ACTIVE

In [7]:
from enum import Enum
class State(Enum):
    INACTIVE=0
    ACTIVE=1
print(State.ACTIVE.value)

1

In [8]:
from enum import Enum
class State(Enum):
    INACTIVE=0
    ACTIVE=1
print(State(1))

State.ACTIVE

In [10]:
from enum import Enum
class State(Enum):
    INACTIVE=0
    ACTIVE=1
print(State['ACTIVE'])

State.ACTIVE

In [11]:
from enum import Enum
class State(Enum):
    INACTIVE=0
    ACTIVE=1
print(list(State))

[<State.INACTIVE: 0>, <State.ACTIVE: 1>]

In [12]:
from enum import Enum
class State(Enum):
    INACTIVE=0
    ACTIVE=1
print(len(State))

2

In [15]:
age=input()
print("your age is "+ age)

9
your age is 9

In [16]:
age=input("What is your age?")
print("your age is "+ age)

What is your age?100
your age is 100

In [18]:
#control statement


condition=True
if condition==True:
    print("The condition")
    print("was true")
else:
    print("The condition")
    print("was False")

The condition
was true

In [20]:
condition=False
if condition==True:
    print("The condition")
    print("was true")
else:
    print("The condition")
    print("was False")

The condition
was False

In [45]:
#Lists can be defined as  empty string also
dogs=['Roger',1,'Syd',True,'Quincy',7]
print('Roger' in dogs)
print('Rr' in dogs)
print(dogs[0])
dogs[2]='joe'
dogs.append('Judah')
dogs.extend(['Judah',5])
dogs+=['Judah',5]
dogs.remove('Quincy')
print(dogs.pop())
print(dogs)
print (dogs[-2])
print(dogs[2:4])
print(dogs[:4])
print(dogs[4:])
print(len(dogs))
#print(dogs)

True
False
Roger
5
['Roger', 1, 'joe', True, 7, 'Judah', 'Judah', 5, 'Judah']
5
['joe', True]
['Roger', 1, 'joe', True]
[7, 'Judah', 'Judah', 5, 'Judah']
9

In [47]:
items=['Roger',1,'Syd',True,'Quincy',7]
items.insert(2,'Test')
print(items)

['Roger', 1, 'Test', 'Syd', True, 'Quincy', 7]

In [48]:
#add multiple item to list
items[1:1]=['Test1','Test2']
print(items)

['Roger', 'Test1', 'Test2', 1, 'Test', 'Syd', True, 'Quincy', 7]

In [51]:
#sorting list
items=['Roger','syd','quincy']
items.sort(key=str.lower)
print(items)

['quincy', 'Roger', 'syd']

In [52]:
items=['Roger','syd','quincy']
itemscopy=items[:]
items.sort(key=str.lower)
print(items)
print(itemscopy)

['quincy', 'Roger', 'syd']
['Roger', 'syd', 'quincy']

In [54]:
#sort list without modifying original list
items=['Roger','syd','quincy']

print(sorted(items,key=str.lower))
print(items)

['quincy', 'Roger', 'syd']
['Roger', 'syd', 'quincy']

In [3]:
#Tuples
#created with parantesis 
names=('Roger','Syd')
names[0]
names.index('Roger')
#len(names)
print('Roger'in names)

True

In [4]:
names=('Roger','Syd')
names[0]
names.index('Roger')
len(names)

2

In [5]:
#Tuples
#created with parantesis 
names=('Roger','Syd')
names[0]
names.index('Roger')
print('Roger'in names)
names[0:2]

True

('Roger', 'Syd')

In [6]:
#Tuples
#created with parantesis 
names=('Roger','Syd')
names[0]
names.index('Roger')
print('Roger'in names)
sorted(names)#cannot modify tuples

True

['Roger', 'Syd']

In [7]:
#Tuples
#created with parantesis 
names=('Roger','Syd')
names[0]
names.index('Roger')
print('Roger'in names)
sorted(names)#cannot modify tuples
newTuple=names+('Tina','Quincy')

True

In [9]:
#dictionaries
dog={'name':'Roger','age':8}
dog['name']='Syd'
print(dog['name'])

Syd

In [10]:
#dictionaries
dog={'name':'Roger','age':8}
#dog['name']='Syd'
print(dog['name'])

Roger

In [11]:
#dictionaries
dog={'name':'Roger','age':8}
print(dog.get('color','brown'))

brown

In [13]:
#dictionaries
dog={'name':'Roger','age':8,'color':'green'}
print(dog.get('color','brown'))

green

In [14]:
#dictionaries
dog={'name':'Roger','age':8,'color':'green'}
print(dog.pop('name'))
print(dog)

Roger
{'age': 8, 'color': 'green'}

In [15]:
#dictionaries
dog={'name':'Roger','age':8,'color':'green'}
print(dog.popitem())
print(dog)

('color', 'green')
{'name': 'Roger', 'age': 8}

In [16]:
#dictionaries
dog={'name':'Roger','age':8,'color':'green'}

print('color' in dog)

True

In [17]:
#dictionaries
dog={'name':'Roger','age':8,'color':'green'}

print(dog.keys())

dict_keys(['name', 'age', 'color'])

In [18]:
#dictionaries
dog={'name':'Roger','age':8,'color':'green'}

print(list(dog.keys()))

['name', 'age', 'color']

In [19]:
print(list(dog.values()))

['Roger', 8, 'green']

In [20]:
print(list(dog.items()))

[('name', 'Roger'), ('age', 8), ('color', 'green')]

In [21]:
print(len(dog))

3

In [25]:
dog['favorite food']='Meat'
print(dog)

{'name': 'Roger', 'age': 8, 'color': 'green', 'favorite food': 'Meat'}

In [26]:
del dog['color']

In [28]:
dogCopy=dog.copy()
print(dog)

{'name': 'Roger', 'age': 8, 'favorite food': 'Meat'}

In [30]:
#Sets(not order)
set1={'Roger','Syd'}
set2={'Roger'}
intersect=set1&set2
print(intersect)

{'Roger'}

In [31]:
#Sets(not order)
set1={'Roger','Syd'}
set2={'Roger'}
intersect=set1|set2
print(intersect)

{'Syd', 'Roger'}

In [32]:
#Sets(not order)
set1={'Roger','Syd'}
set2={'Luna'}
intersect=set1|set2
print(intersect)

{'Syd', 'Luna', 'Roger'}

In [35]:
#Sets(not order)
set1={'Roger','Syd'}
set2={'Roger'}
mod=set1-set2
print(mod)

{'Syd'}

In [36]:
#Sets(not order)
set1={'Roger','Syd'}
set2={'Roger'}
mod=set1>set2
print(mod)

True

In [37]:
#Sets(not order)
set1={'Roger','Syd'}
set2={'Roger'}
mod=set1<set2
print(mod)

False

In [39]:
#Sets(makesure one of each in that set)
set1={'Roger','Syd','Roger'}
set2={'Roger'}
print(list(set1))

['Syd', 'Roger']

In [41]:
#*************function******************
def hello():
    print('Hello!')
hello()
hello()
hello()

Hello!
Hello!
Hello!

In [43]:
#function can accept one or more parameter
def hello(name):
    print('Hello!'+ name)
hello('Aliza')
hello('jaz')
hello('Eva')

Hello!Aliza
Hello!jaz
Hello!Eva

In [45]:
#didn't specify arguement
def hello(name='my friend'):
    print('Hello!'+ name)
    
hello('Aliza')
hello('jaz')
hello()

Hello!Aliza
Hello!jaz
Hello!my friend

In [50]:
def hello(name,age):
    print('Hello!'+ name + ',you are ' +str(age) +' years old!')
    
hello('Ali',21)
hello('jaz',8)

Hello!Ali,you are 21 years old!
Hello!jaz,you are 8 years old!

In [53]:
def change(value):
    value['name']='Syd'
    
val={'name':'Aliza'}
change(val)
print(val)

{'name': 'Syd'}

In [58]:
def hello(name):
    if not name:
        return 
    print('Hello!'+ name + '!')
    
hello('Aliza')

Hello!Aliza!

In [60]:
def hello(name):
    print('Hello!'+ name + '!')
    return name,'Aliza',8
    
print(hello('Syd'))

Hello!Syd!
('Syd', 'Aliza', 8)

In [67]:
#variable scope 
age=8
def test():
    print(age)
print(age)
test()

8
8

In [68]:
#variable scope 
#if you declare variable inside the function
def test():
    age=8
    print(age)
    
print(age)
test()

8
8

In [72]:
def talk(phrase):
    def say(word):
        print(word)
        
    words = phrase.split(' ')  # Use a space as the delimiter
    for word in words:
        say(word)
        
talk('I am going to buy the milk')

I
am
going
to
buy
the
milk

In [78]:
def counter():
    count = 0
    
    def increment():
        nonlocal count
        count=count+1
        return count
    
    return increment

increment = counter()

print (increment())
print (increment())
print (increment())

1
2
3

In [82]:
#objects
#everthing in python is objects
age = 8
print(age.real)
print(age.imag)
print(age.bit_length())

8
0
4

In [84]:
items=[1,2]
items.append(3)
items.pop()
print(id(items))

1665250195840

In [85]:
items=[1,2]
items.append(3)
items.pop()

3

In [87]:
#int is immutable 
age=8
age=age+1
print(age)

9

In [ ]:
#loops
#while loops and for loops
condition=True
while condition==True:
    print('The condition is True')

In [ ]:
condition=True
while condition==True:
    print('The condition is True')
    condition=False

In [90]:
count=0
while count<10:
    print('The condition is True')
    count=count+1
print('After the loop')

The condition is True
The condition is True
The condition is True
The condition is True
The condition is True
The condition is True
The condition is True
The condition is True
The condition is True
The condition is True
After the loop

In [92]:
items=[1,2,3,4]
for item in items:
    print(item)

1
2
3
4

In [94]:
#loops
for item in range(15):
    print(item)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14

In [97]:
#index in list
items=[1,2,3,4]
for index,item  in enumerate(items):
    print(index, item)

0 1
1 2
2 3
3 4

In [98]:
#index in list
items=['aliz','jaz','eva','jjj']
for index,item  in enumerate(items):
    print(index, item)

0 aliz
1 jaz
2 eva
3 jjj

In [99]:
#continue , break
items=[1,2,3,4]
for item in items:
    if item ==2:
        break
    print(item)

1

In [103]:
#Classes
class Dog:
    def bark(self):
        print('woof!')
        
roger=Dog()
print(type (roger))

<class '__main__.Dog'>

In [109]:
#create constructor
#Classes
class Dog:
    def __init__(self,name,age):
        self.name=name
        self.age=age
    def bark(self):  
        print('woof!')
        
roger=Dog('Roger',8)
print(roger.name)
print(roger.age)
print(roger.bark())

Roger
8
woof!
None

In [110]:
#inheritance
#Classes
class Animal:
    def walk(self):
        print("Walking....")
        
class Dog:
    def __init__(self,name,age):
        self.name=name
        self.age=age
    def bark(self):  
        print('woof!')
        
roger=Dog('Roger',8)
print(roger.name)
print(roger.age)
print(roger.bark())

Roger
8
woof!
None