In [2]:
#A function is a block of code which only runs when it is called.
# You can pass data, known as parameter, A function can return data as result.
#2 types of functionin python :predefine function and 
#:predefined function is already defined in python language e.g -len, append, 
#user-defined: you created based on your requirement such as  def user
#syntax of user defined function 
def user_defined_name(): #declaring the function 
    body #body means defining 
user_defined_name():#calling the function 
#In function there are 2 things 
# 1. declaring and defining function 
# 2. calling the function #

Hello from a function

In [23]:
def my_function():#declare the function 
    print('Python programming')#define the function ,vscode,pycharm

In [22]:
my_function()#calling the function

Python programming

In [29]:
def method_with_parameter(Fname):#Fname is parameter :parameter means user will going to pass while calling the function, 
    print("Data : ",Fname)

In [28]:
 method_with_parameter("Aliza Bloan")

Data :  Aliza Bloan

In [30]:
 method_with_parameter("Jazmin")  #compiler will search body of function,

Data :  Jazmin

In [31]:
 method_with_parameter("Eva")

Data :  Eva

In [17]:
def my_function():
  print("Hello from a function")

my_function()

Hello from a function

In [3]:
def my_function(fname):
  print(fname + " Refsnes")

my_function("Emil")
my_function("Tobias")
my_function("Linus")

Emil Refsnes
Tobias Refsnes
Linus Refsnes

In [4]:
def my_function(fname, lname):
  print(fname + " " + lname)

my_function("Emil", "Refsnes")

Emil Refsnes

In [5]:
def my_function(*kids):
  print("The youngest child is " + kids[2])

my_function("Emil", "Tobias", "Linus")

The youngest child is Linus

In [6]:
def my_function(child3, child2, child1):
  print("The youngest child is " + child3)

my_function(child1 = "Emil", child2 = "Tobias", child3 = "Linus")

The youngest child is Linus

In [7]:
def my_function(country = "Norway"):
  print("I am from " + country)

my_function("Sweden")
my_function("India")
my_function()
my_function("Brazil")

I am from Sweden
I am from India
I am from Norway
I am from Brazil

In [8]:
def my_function(food):
  for x in food:
    print(x)

fruits = ["apple", "banana", "cherry"]

my_function(fruits)

apple
banana
cherry

In [9]:
def my_function(x):
  return 5 * x

print(my_function(3))
print(my_function(5))
print(my_function(9))

15
25
45

In [10]:
def myfunction():
  pass

In [40]:
def tri_recursion(k):#recursion means executing same condition again and again#addition from 1 to 6 
  if(k > 0):#5>0, 4>0
    result = k + tri_recursion(k - 1)#6+ tri_recursion(6-1),6+5+tri_recursion(4),6+5+4+tri_recursion(3)
   # print(result)
  else:
    result = 0
  return result

print("\n\nRecursion Example Results")
tri_recursion(6)

Recursion Example Results

21

In [37]:
def my_function(fname, lname):
    print(fname + ' '+lname)
my_function('Aliza', 'Tamang')

Aliza Tamang

In [39]:
#print multiple value same time,if user wants to pass multiple value you can do this 
#variable number of arguement
def my_function(*kid):
    print('The kids name',kid[0],kid[1],kid[2])
my_function('Sagar','Aliza','Girish','Sunita','Pramod','Pratorodh','Terisha')

The kids name Sagar Aliza Girish