In [3]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\admin\anaconda3\lib\site-packages (1.5.3)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\admin\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\admin\anaconda3\lib\site-packages (from pandas) (2022.7)
Requirement already satisfied: numpy>=1.21.0 in c:\users\admin\anaconda3\lib\site-packages (from pandas) (1.24.3)
Requirement already satisfied: six>=1.5 in c:\users\admin\anaconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

In [4]:
import pandas as pd #used to reas dataframe and dataset such csv data,txt data,xlsx data

In [5]:
shop=['banana','apple','strawberry']
pd.Series(shop)

0        banana
1         apple
2    strawberry
dtype: object

In [7]:
num=[1,2,3,4,5,6,7,8,9,10,0]
pd.Series(num)

0      1
1      2
2      3
3      4
4      5
5      6
6      7
7      8
8      9
9     10
10     0
dtype: int64

In [8]:
shop.append(None)#append will add None
pd.Series(shop)

0        banana
1         apple
2    strawberry
3          None
dtype: object

In [9]:
shop.append('aliza')#append will add None
pd.Series(shop)

0        banana
1         apple
2    strawberry
3          None
4         aliza
dtype: object

In [11]:
num.append(None)
pd.Series(num)

0      1.0
1      2.0
2      3.0
3      4.0
4      5.0
5      6.0
6      7.0
7      8.0
8      9.0
9     10.0
10     0.0
11     NaN
12     NaN
dtype: float64

In [20]:
tech={
    'laptop':'Dell',
    'Mobile':'Apple',
    'Tablet':'Samsung',
    'Speaker':'Portronics'
}
t=pd.Series(tech)
t

laptop           Dell
Mobile          Apple
Tablet        Samsung
Speaker    Portronics
dtype: object

In [22]:
t.index#index function wil give index value of element

Index(['laptop', 'Mobile', 'Tablet', 'Speaker'], dtype='object')

In [23]:
s=pd.Series(tech,index=['laptop', 'Mobile', 'Samsung'])
s

laptop      Dell
Mobile     Apple
Samsung      NaN
dtype: object

In [24]:
#find element on particular index
t.iloc[2]#index location

'Samsung'

In [25]:
t.loc['Speaker']

'Portronics'

In [26]:
t[2]

'Samsung'