In [2]:
# Arithmetic Operation
#Addition, Subtraction, Multiplication, Division,floor division.mod,on float value
c1=5.6
c2=9.0

In [3]:
c1+c2 #add

14.6

In [23]:
print(c1+c2)

14.6

In [24]:
#converting float into int
int_c1=int(c1)
int_c2=int(c2)
print(int_c1)
print(int_c2)

5
9

In [25]:
print(int_c1+int_c2)

14

In [26]:
#using math.floor() function from the math module can also be used to round down a float to the nearest integer:

import math
int_c1=math.floor(c1)
int_c2=math.floor(c2)
print(int_c1)
print(int_c2)

5
9

In [27]:
#using type casting ,perform type casting by simply assigning the float value to an integer variable
int_c1=int(c1)
int_c2=int(c2)
print(int_c1)
print(int_c2)

5
9

In [32]:
#convert to string
str_c1=str(c1)
str_c2=str(c2)
print(str_c1)
print(str_c2)

5.6
9.0

In [35]:
#convert to boolean
bool_c1=bool(c1)
bool_c2=bool(c2)
print(bool_c1)
print(bool_c2)

True
True

In [36]:
#convert to complex
complex_c1 = complex(c1)
complex_c2 = complex(c2)

print(complex_c1)  
print(complex_c2)

(5.6+0j)
(9+0j)

In [5]:
c1-c2 #sub

-3.4000000000000004

In [6]:
c1*c2 #multiply

50.4

In [9]:
c1/c2 #division

0.6222222222222222

In [11]:
c1%c2 # outcome is remainder,The modulus operator calculates the remainder when dividing c1 by c2.

5.6

In [12]:
c1**c2 # double asterisk ,denote exponentiation or raising one number to the power of another.

5416169.448144893

In [13]:
c1//c2 #floor division,Floor division divides c1 by c2 and rounds down the result to the nearest whole number.

0.0

In [14]:
#we can also do 
1+-1

0

In [20]:
#+operator can also be used to concatenate
print('I '+'loves chocolate.')

I loves chocolate.

In [21]:
#we can combine arithmetic operator to assign operator 
age=8
age+=8 #age=age+8
print(age)

16

In [22]:
age=8
age*=8 #age=age*8
print(age)

64

In [ ]:
#comparision operator!
#true or false boolean data types
#boolean operator:not ,or
a=1
b=2
a==b #false
a!=b #true
a>b #False
a<=b #True

In [ ]:
#boolean operator:not,or
condition1=True
condition2=False
not condition1 #False: not condition1 means not true
condition1 and condition2 #False
condition1 or condition2  #True

In [ ]:
print(0 or 1)#1:here 0 is False value it return 1
print(False or 'hey')##'hey'
print('hi' or 'hey')#'hi'
print([] or False)##'False',[] is False value it return False
print(False or [])##'[]',it will return second option, first is False

In [ ]:
#and
print(0 and 1)#0, it evalulate second argument
print(1 and 0)#0
print(False or 'hey')##False
print('hi' or 'hey')#'hey'
print([] or False)##[]
print(False or [])##False

In [ ]:
#is and in operator 
#"is"return both are same object
# "in"value is contenr in the list

In [31]:
#Tenary operator
def is_adult(age):#function comparing age 
    if age>18:
        return True
    else:
        return False
    
#Tenary operator
def is_adult(age):
    return True of age>18 else False

SyntaxError: invalid syntax (273789686.py, line 10)

In [39]:
#string 
'Aliza'
name='Aliza'
phrase='Aliza '+'is my name.'
print(phrase)

Aliza is my name.

In [42]:
'Aliza'
name='Aliza'
name+=' is my name.'
print(name)

Aliza is my name.

In [45]:
#convert num to string 

name='I'
name+=' love icecream.'
age=str(8)
print(name)

I love icecream.

In [46]:
#multiline string
print('''My cat is 
3
years old''')

My cat is
3
years old

In [47]:
print('Aliza'.upper())

ALIZA

In [48]:
print('Aliza'.lower())

aliza

In [67]:
#string return new modifies string
name='Aliza'
print(name.lower())
print (name)
print (len(name))
print('iz' in name)
print('t' in name)

aliza
Aliza
5
True
False

In [74]:
#add "" in string
#name='Al\niza'
name='Al\\iza'
print (name)

Al\iza

In [77]:
name='Aliza'
print (name[1])
print (name[-1])
print (name[3])

l
a
z

In [85]:
#slicing
name='Aliza is cool.'
print(name[1:2])
print (name[1:3])
print (name[2:9])
print (name[:7])
print (name[5:])

l
li
iza is
Aliza i
 is cool.

In [87]:
#boolean
done=True
if done:
    print('Yes')
else:
    print('No')

Yes

In [89]:
#boolean
done=False
if done:
    print('Yes')
else:
    print('No')

No

In [90]:
#boolean
done=0
if done:
    print('Yes')
else:
    print('No')

No

In [91]:
#boolean
done=-1
if done:
    print('Yes')
else:
    print('No')

Yes

In [92]:
#string are false when its empty
#boolean
done=''
if done:
    print('Yes')
else:
    print('No')

No

In [93]:
#boolean
done='Aliza'
if done:
    print('Yes')
else:
    print('No')

Yes

In [95]:
#check value is boolean
done=True
print(type(done)==bool)
if done:
    print('Yes')
else:
    print('No')

True
Yes

In [96]:
#check value is boolean
done='Aliza'
print(type(done)==bool)
if done:
    print('Yes')
else:
    print('No')

False
Yes

In [108]:
#Number Data Type
#all means all should be either true or false,return false
ingredients_purchased=True
meal_cooked=False
ready_to_serve=all([ingredients_purchased,meal_cooked])

In [107]:
#return True because there is "any"
book_1_read=True
book_2_read=False
read_any_book=any([book_1_read,book_2_read])

In [122]:
num1 = 2 + 3j  # j is used to represent the imaginary part
num2 = complex(2, 3)  # Creating a complex number using the complex() constructor

print(num2.real, num2.imag)

TypeError: 'complex' object is not callable